pkgbase = gnome-shell-pomodoro
	pkgdesc = A time management utility for GNOME based on the pomodoro technique
	pkgver = 0.15.1
	pkgrel = 1
	url = https://github.com/codito/gnome-pomodoro
	changelog = NEWS
	arch = i686
	arch = x86_64
	license = GPL3
	makedepends = intltool
	makedepends = vala
	makedepends = gnome-common
	makedepends = docbook2x
	makedepends = perl-xml-sax-expat
	depends = gnome-desktop
	depends = gstreamer
	depends = gobject-introspection
	depends = libpeas
	depends = appstream-glib
	depends = gom
	source = gnome-shell-pomodoro-0.15.1.tar.gz::https://github.com/codito/gnome-pomodoro/archive/0.15.1.tar.gz
	source = pr395.patch::https://github.com/codito/gnome-pomodoro/commit/0c249f36b66e85ee5132cabb23aad4747fc5545d.patch
	source = pr396.patch::https://github.com/codito/gnome-pomodoro/commit/23b0e344fe939a41d6ecc874b49403fa4e03566d.patch
	source = resize.patch::https://github.com/codito/gnome-pomodoro/commit/92a285134c05e671648aa4335c81b182132f22e9.patch
	sha256sums = 67c90673ba6362fb1dea2cc72aa5a2e6a8b75f0141388cf5a48e31d078ecffb3
	sha256sums = 7ab9a0f289b1f2ae25cc206fee2003c25a3d29b452ddd9a721c4c9546a4fad83
	sha256sums = 56616288bd63c58dce79a035988f7013f2f36330063c345326794de1dc274a82
	sha256sums = d8cd9c4db16e37642f0264855e0031bed635b8c6056eefe6f8b13616e6c03f13

pkgname = gnome-shell-pomodoro

